// components/BlogPostCard.module.scss

@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.card {
  background-color: $dark-gray;
  border: 2px solid $dark-gold;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($black, 0.7);

  .imageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(20%);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .content {
    padding: 1.5rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-family: $font-headings;
      color: $gold-accent;
      @include text-shadow;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-family: $font-body;
      color: $light-gray-text;
    }

    .readMore {
      @include button-style;
      text-decoration: none;
    }
  }
}
