@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: $gold-accent;
  text-align: center;
  padding: 2rem;

  .iconContainer {
    margin-bottom: 2rem;

    .icon {
      width: 100px;
      height: 100px;
      color: $gold-accent;
      animation: rotate 5s linear infinite;
    }
  }

  .title {
    @include responsive-text(2rem, 3rem);
    font-family: $font-headings;
    margin-bottom: 1rem;
    @include text-shadow;
  }

  .subtitle {
    font-size: 1.2rem;
    font-family: $font-body;
    color: $light-gray-text;
    max-width: 600px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
