.about-container {
  background-color: #dedede;
  font-family: 'Montserrat', sans-serif;
  .lead {
    line-height: 1.5;
  }
  .about-intro {
    margin: 2rem 0;
    h1 {
      margin: 0;
      font: 44px 'Montserrat', sans-serif;
      position: relative;
      color: rgb(65, 65, 65);
    }
  }
  .card {
    background-color: #dedede;
    padding: 0.2rem;
    border: 0;
    .card-body {
      border-top: 3px solid $trans-black;
      margin-top: 0.2rem;
    }
    img {
      padding-bottom: 1rem;
    }
  }
  .about-bottom {
    padding-bottom: 3rem;
  }
}
