.about-container {
  background-color: #dedede;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://raw.githubusercontent.com/hunterraffety/portfolio/hunter-raffety/src/assets/img/phoenix.png');
  background-size: cover;
  background-position: center;
  .lead {
    line-height: 1.5;
    font-size: 1rem;
  }
  .about-intro {
    margin: 2rem 0;
    h1 {
      margin: 0;
      font: 44px 'Montserrat', sans-serif;
      position: relative;
      color: rgb(65, 65, 65);
    }
    .about-text {
      line-height: 2;
      margin: 0.2rem;
      .emphasis {
        font-style: italic;
      }
      p:last-child {
        padding-bottom: 2rem;
      }
      h6 {
        margin: 0.5rem 0;
      }
    }
    .btn {
      color: rgb(65, 65, 65);
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .card {
    background-color: #dedede;
    padding: 0.2rem;
    border: 0;
    .card-body {
      border-top: 3px solid $trans-black;
      margin-top: 0.2rem;
    }
    img {
      padding-bottom: 1rem;
    }
  }
}
i.fa-heart {
  color: crimson;
  text-shadow: 1px 1px black;
}
.about-anchor {
  display: block;
  position: relative;
  top: -51px;
  visibility: hidden;
}
