.footer-container {
  background-color: rgb(34, 40, 51);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4rem 0;

  .footer-desc {
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    color: black;
    .card {
      padding: 1rem;
    }
  }
  .footer-intro {
    padding: 0.5rem 0 3rem 0;
    h1 {
      font-size: 3.2rem;
      color: #dedede;
    }
  }

  label {
    color: #dedede;
    padding: 1rem 0;
  }
  textarea {
    height: 10rem;
  }
  .social {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: white;
    a {
      color: #dedede;
      &:hover {
        color: rgb(141, 141, 141);
      }
    }
    i {
      padding: 1rem;
      text-shadow: 1px 1px 5px #000 !important;
    }
  }
  h1 {
    text-shadow: 3px 2px 5px #000 !important;
  }
  .pad {
    padding: 0 2rem;
  }
  .pad-top {
    padding-top: 3rem;
  }
  .social-line:before {
    content: ''; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    border-bottom: 1px solid #dedede; /* This creates the border. Replace black with whatever color you want. */
    box-shadow: 1px 1px black;
  }
  form {
    margin: 0 auto;
    input {
      padding: 2rem;
    }
  }
  h6 {
    color: #dedede;
  }
}
.contact-anchor {
  display: block;
  position: relative;
  top: -112px;
  visibility: hidden;
}
.fa-arrow-to-top {
  color: white;
  padding-right: 2rem;
}

.footer-bottom {
  padding: 1rem;
}
