.footer-container {
  background-color: rgb(34, 40, 51);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 0 0 0;
  .footer-desc {
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    color: black;
    .card {
      padding: 1rem;
    }
  }
  .obfuscated-email {
    a {
      color: #dedede;
    }
  }
  .footer-intro {
    padding: 0.5rem 0 3rem 0;
    width: 100%;
    h1 {
      font-size: 3.2rem;
      color: #dedede;
    }
  }

  label {
    color: #dedede;
    padding: 1rem 0;
  }
  textarea {
    height: 10rem;
  }

  h1 {
    text-shadow: 3px 2px 5px #000 !important;
  }
  .pad {
    padding: 0 2rem;
  }
  .pad-top {
    padding-top: 3rem;
  }
  form {
    margin: 0 auto;
    input {
      padding: 2rem;
    }
  }
  h6 {
    color: #dedede;
  }
}

button {
  margin: 1rem 0;
}

.contact-anchor {
  display: block;
  position: relative;
  top: -112px;
  visibility: hidden;
}
.fa-arrow-to-top {
  color: #dedede;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.footer-bottom {
  padding: 1rem;
  width: 100%;
  h6 {
    a {
      padding: 1rem 0;
    }
  }
  .copy-text {
    margin: 3rem 0;
  }
  address {
    margin-top: 2rem;
  }
}
