.hc-container {
  font-family: Montserrat, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-shadow: 5px 3px 5px #000;
  .cta-middle {
    line-height: 1.5;
    .emphasis-lg {
      font-size: 3.2rem;
    }
    .emphasis-md {
      font-size: 2rem;
    }
  }
  .cta-top {
    font-size: 3.2rem;
    display: flex;
  }
  .cta-middle {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding-bottom: 3.2rem;
  }
  .cta-button {
    margin: 3rem 0 0 0;
    a {
      color: #dedede !important;
      &:hover {
        color: #f1f1f1 !important;
        text-decoration: none;
      }
    }
  }
  .button {
    border: 3px solid black;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 7px;
  }
}
