.navbar {
  font-family: 'Raleway', sans-serif;
  color: white !important;
  letter-spacing: 0.1rem;
  background-color: rgba(53, 53, 53, 0.8);
  border-bottom: 3px solid black;
  a {
    color: white !important;
    &:hover {
      color: #dedede !important;
    }
  }
  .navItem {
    list-style-type: none;
  }

  .navbar-toggler {
    border-color: transparent !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}
