.portfolio-container {
  background-color: rgb(34, 40, 51);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .portfolio-content {
    padding: 3rem 0;
  }
  .card {
    padding: 0.1rem;
  }
  .portfolio-desc {
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    color: black;
    .card {
      padding: 1rem;
    }
  }
  .card-top {
    margin-top: 1rem;
  }
}
