.portfolio-container {
  background-color: rgb(34, 40, 51);
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .portfolio-content {
    padding: 3rem 0;
  }
  .portfolio-text-content {
    font-size: 3.2rem;
    color: #dedede;
    .top {
      padding-top: 3rem;
    }
    .bottom {
      padding-bottom: 3rem;
      .lead {
        font-size: 1rem;
        padding-top: 0.3rem;
        line-height: 2;
      }
    }
    h6 {
      font-size: 1.2rem;
    }
  }
  .card {
    padding: 0.1rem;
  }
  .portfolio-desc {
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    color: black;
    .card {
      padding: 1rem;
    }
  }
  .card-top {
    margin-top: 1rem;
  }
}
