.portfolio-container {
  height: 750px;
  background-color: rgb(34, 40, 51);
  .portfolio-content {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3rem 0;
  }
}
