.skills-container {
  padding: 3rem 2rem;
  background-color: #dedede;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 50vh;
  ul {
    list-style-type: square;
    li {
      margin-left: 1.5rem;
    }
  }
  .about-bump {
    padding: 2rem 0;
  }
  .skills-unique {
    padding: 0 0 1.5rem 0;
  }
  .skills-anchor {
    display: block;
    position: relative;
    top: -66px;
    visibility: hidden;
  }
  .about-col {
    margin: 0 1rem;
    padding: 0 0 1.5rem 0;
  }
  h1 {
    font-size: 3.2rem;
    color: #414141;
    padding-bottom: 1rem;
  }
  .lead {
    line-height: 1.5;
    color: white;
  }
  .about-text {
    line-height: 2;
  }
  .skills-header {
    padding: 1rem;
  }
  .skills-intro {
    margin: 2rem 0;
  }

  .skill {
    i.fa-js-square {
      color: #f0db4f;
    }
    i.fa-react {
      color: #00d8ff;
    }
    i.fa-node {
      color: #2f7d32;
    }
    i.fa-sass {
      color: #cf649a;
    }
    i.fa-npm {
      color: #cc0413;
    }
    i.fa-html5 {
      color: #e44d26;
    }
    i.fa-database {
      color: #414141;
    }
    i.fa-cloud-upload {
      color: #87ceeb;
    }
    i {
      padding: 1rem;
      text-shadow: 1px 1px black;
    }
  }
  .card {
    background-color: #dedede;
    padding: 0.1rem;
    border: 0;
    .card-body {
      border-top: 3px solid $trans-black;
      margin-top: 0.2rem;
      line-height: 2;
    }
    .lead {
      font-size: 1rem;
      padding-top: 0.3rem;
      line-height: 2;
      color: #414141;
    }
  }
}
.dark {
  color: black !important;
}
