.skills-container {
  padding: 1rem;
  background-color: #dedede;
  font-family: 'Montserrat', sans-serif;
  #skills {
    position: relative;
    top: -50px;
  }
  .lead {
    line-height: 1.5;
    color: white;
  }
  .skills-intro {
    margin: 2rem 0;
    h1 {
      margin: 0;
      font: 44px 'Montserrat', sans-serif;
      position: relative;
      color: rgb(255, 255, 255);
    }
  }
  .skills-top,
  .skills-bottom {
    margin: 1rem;
    .card {
      margin: 1rem;
    }
  }
  .skill {
    i.fa-js-square {
      color: #f0db4f;
    }
    i.fa-react {
      color: #00d8ff;
    }
    i.fa-node {
      color: #2f7d32;
    }
    i.fa-sass {
      color: #cf649a;
    }
    i.fa-npm {
      color: #cc0413;
    }
    i.fa-html5 {
      color: #e44d26;
    }
    i.fa-database {
      color: #414141;
    }
    i.fa-cloud-upload {
      color: #87ceeb;
    }
    i {
      padding: 1rem;
      text-shadow: 1px 1px black;
    }
  }
  .card {
    background-color: #dedede;
    padding: 0.1rem;
    border: 0;
    .card-body {
      border-top: 3px solid $trans-black;
      margin-top: 0.2rem;
      line-height: 2;
    }
    .lead {
      font-size: 1rem;
      padding-top: 0.3rem;
      line-height: 2;
      color: #414141;
    }
  }
  .skills-bottom {
    padding-bottom: 3rem;
  }
}
